<div class="product-detail">
    <h1 class="product-name">{{ product.name }}</h1>
    <div class="product-image-container">
        <img src="{{ product.image }}" alt="{{ product.name }}" class="product-image">
    </div>
    <p class="product-description">{{ product.description }}</p>
        <!-- Display product price -->
        <p>Price per unit: {{product.price}} USD</p>
        <p class="price">Total price: <span class="product-price" >{{ calculateTotalPrice() }}</span> USD</p>
        <!-- Form to add product to cart -->
        <form *ngIf="product" class="add-to-cart-form">
            <div class="quantity-selector">
                <label for="quantity">Quantity: </label>
                <select  [(ngModel)]="product.quantity" (change)="updateQuantity()"  [ngModelOptions]="{standalone: true}" class="quantity-dropdown">
                <!-- <select  [(ngModel)]="selectedQuantity" [ngModelOptions]="{standalone: true}" class="quantity-dropdown"> -->
                    <option *ngFor="let option of quantityOptions" [value]="option">{{ option }}</option>
                </select>
            </div>
            <button type="submit" class="add-to-cart-button">Add to Cart</button>
        </form>
</div>

