<!-- Container for displaying search results -->
<div class="products-container">
    <!-- Conditional rendering based on search results -->
        <ul class="product-list" *ngIf="filterdProducts">
            <!-- Loop through each product and display its details -->
                <li class="product-item" *ngFor="let product of filterdProducts">
                    <div class="search-item-details">
                        <h2 class="product-name">{{ product.name }}</h2>
                        <a [routerLink]="['/products',product.id]" routerLinkActive="router-link-active"  class="product-link">
                            <img src="{{ product.image }}" alt="{{ product.name }}" class="product-image">
                        </a>
                        <p class="product-description">{{ product.description }}</p>
                        <p><span class="product-price" id="price-{{ product.id }}" >Total price: {{calculateTotalPrice(product) | number: '1.2-2' }}</span> USD</p>
                    </div>
                    <!-- Form to add product to cart -->
                    <form class="add-to-cart-form">
                        <label for="quantity">Quantity:</label>
                        <select [(ngModel)]="product.quantity" [ngModelOptions]="{ standalone: true }" (change)="onQuatityChange(product.quantity, product.id)">
                            <option *ngFor="let option of quantityOptions" [value]="option">{{ option }}</option>
                        </select>
                        <button type="submit" class="add-to-cart-button">Add to Cart</button>
                    </form>
                </li>
        </ul>
        <!-- Message shown if no products are found -->
        <p class="no-results" *ngIf="filterdProducts.length === 0">{{searchTerm}} is not found</p>
</div>